<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SirenUA.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>115</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5149F5A8AE75876DEEF7E7E47D018669F26BE55E</string>
				<key>dateExpires</key>
				<string>2027/6/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B7WVJ3B4B7.com.sirenua.SirenUA</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B7WVJ3B4B7</string>
				<key>com.apple.developer.usernotifications.critical-alerts</key>
				<true/>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SirenUA.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4401548e-11a6-4463-9ebb-0a5dce47de64</string>
				<key>dateExpires</key>
				<string>2027/7/20</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.sirenua.SirenUA</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B7WVJ3B4B7</string>
				<key>name</key>
				<string>Олег Kizyma</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
